@page
@model IndexModel
@{
    ViewData["Title"] = "Translator";
}

    <h1 style="text-align: left">Amazon Translate Demo</h1>
    <br />
    <table class="tg">
        <tr>
            <th align="left">
                Source Language Code:
                <select id="sourceLanguageCodeDropdown">
                    <option value="en">en</option>
                    <option value="hi">hi</option>
                    <option value="kn">kn</option>
                    <option value="bn">bn</option>
                    <option value="ta">ta</option>
                    <option value="te">te</option>
                    <option value="gu">gu</option>
                    <option value="mr">mr</option>
                    <option value="ml">ml</option>
                </select>
            </th>
            <th align="left">
                Target Language Code:
                <select id="targetLanguageCodeDropdown">
                    <option value="en">en</option>
                    <option value="hi">hi</option>
                    <option value="kn">kn</option>
                    <option value="bn">bn</option>
                    <option value="ta">ta</option>
                    <option value="te">te</option>
                    <option value="gu">gu</option>
                    <option value="mr">mr</option>
                    <option value="ml">ml</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>
                <textarea id="inputText" name="inputText" rows="10" cols="50" placeholder="Text to translate..."></textarea>
            </th>
            <th>
                <textarea id="outputText" name="outputText" rows="10" cols="50" placeholder="Translated text..."></textarea>
            </th>
        </tr>
        <tr>
            <th align="left">
                <button type="button" name="translateButton" onclick="doTranslate()">Translate</button>
                <button type="button" name="synthesizeButton" onclick="doSynthesizeInput()">Synthesize Input Speech</button>
                <button type="button" name="clearButton" onclick="clearInputs()">Clear</button>
            </th>
            <th align="left">
                <button type="button" name="synthesizeButton" onclick="doSynthesizeOutput()">Synthesize Output Speech</button>
            </th>
        </tr>
    </table>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1030.0.min.js"></script>
    <script type="text/javascript">
        // set the focus to the input box
        document.getElementById("inputText").focus();
        var AWS_DEFAULT_REGION = "eu-west-1";
        var AWS_ACCESS_KEY_ID = "AKIAVDNT74OJT73WCFCA";
        var AWS_SECRET_ACCESS_KEY = "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";
        /**
        * Change the region and endpoint.
        */
        AWS.config.region = AWS_DEFAULT_REGION; // Region

         /**
         * In a production application you should use a secure method of authenticating uses, such as the ones
         * described here:
         *   https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/setting-credentials-browser.html
         *
         * Note that Amazon Translate does not work with Amazon Cognito Identity.
         *
         * For this example you place the credentials of an IAM user in the HTML page. The IAM user associated
         * with these credentials must have permissions to call Amazon Translate. We recommend using the following
         * permissions policy and nothing more, as anyone that has access to this HTML page will also have access to
         * these hard-coded credentials.
         * {
         *     "Version": "2012-10-17",
         *     "Statement": [
         *         {
         *             "Action": [
         *                 "translate:TranslateText",
         *                 "polly:SynthesizeSpeech"
         *             ],
         *             "Resource": "*",
         *             "Effect": "Allow"
         *         }
         *     ]
         * }
         *
         * For more information about the AWS Credentials object, see:
         *   http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Credentials.html
         */

        //AWS.config.getCredentials(function (err) {
        //    if (err) console.log(err.stack);
        //    // credentials not loaded
        //    else {
        //        console.log("Access key:", AWS.config.credentials.accessKeyId);
        //    }
        //});

        AWS.config.credentials = new AWS.Credentials(AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY);

        var translate = new AWS.Translate({region: AWS.config.region});
        var polly = new AWS.Polly();

        function doTranslate() {
            var inputText = document.getElementById('inputText').value;
            if (!inputText) {
                alert("Input text cannot be empty.");
                exit();
            }

            // get the language codes
            var sourceDropdown = document.getElementById("sourceLanguageCodeDropdown");
            var sourceLanguageCode = sourceDropdown.options[sourceDropdown.selectedIndex].text;

            var targetDropdown = document.getElementById("targetLanguageCodeDropdown");
            var targetLanguageCode = targetDropdown.options[targetDropdown.selectedIndex].text;

            var params = {
                Text: inputText,
                SourceLanguageCode: sourceLanguageCode,
                TargetLanguageCode: targetLanguageCode
            };

            translate.translateText(params, function(err, data) {
                if (err) {
                    console.log(err, err.stack);
                    alert("Error calling Amazon Translate. " + err.message);
                    return;
                }
                if (data) {
                    var outputTextArea = document.getElementById('outputText');
                    outputTextArea.value = data.TranslatedText;
                }
            });
        }

        function doSynthesizeInput() {
            var text = document.getElementById('inputText').value.trim();
            if (!text) {
                return;
            }
            var sourceLanguageCode = document.getElementById("sourceLanguageCodeDropdown").value;
            doSynthesize(text, sourceLanguageCode);
        }

        function doSynthesizeOutput() {
            var text = document.getElementById('outputText').value.trim();
            if (!text) {
                return;
            }
            var targetLanguageCode = document.getElementById("targetLanguageCodeDropdown").value;
            doSynthesize(text, targetLanguageCode);
        }

        function doSynthesize(text, languageCode) {
            var voiceId;
            switch (languageCode) {
                case "hi":
                    voiceId = "Marlene";
                    break;
                case "gu":
                    voiceId = "Joanna";
                    break;
                case "mr":
                    voiceId = "Penelope";
                    break;
                case "kn":
                    voiceId = "Celine";
                    break;
                case "ml":
                    voiceId = "Vitoria";
                    break;
                default:
                    voiceId = null;
                    break;
            }
            if (!voiceId) {
                alert("Speech synthesis unsupported for language code: \"" + languageCode + "\"");
                return;
            }
            var params = {
                OutputFormat: "mp3",
                SampleRate: "8000",
                Text: text,
                TextType: "text",
                VoiceId: voiceId
            };
            polly.synthesizeSpeech(params, function(err, data) {
                if (err) {
                    console.log(err, err.stack); // an error occurred
                    alert("Error calling Amazon Polly. " + err.message);
                }
                else {
                    var uInt8Array = new Uint8Array(data.AudioStream);
                    var arrayBuffer = uInt8Array.buffer;
                    var blob = new Blob([arrayBuffer]);
                    var url = URL.createObjectURL(blob);

                    audioElement = new Audio([url]);
                    audioElement.play();
                }
            });
        }

        function clearInputs() {
            document.getElementById('inputText').value = "";
            document.getElementById('outputText').value = "";
            document.getElementById("sourceLanguageCodeDropdown").value = "en";
            document.getElementById("targetLanguageCodeDropdown").value = "en";
        }
    </script>
